body{
    /* display: grid; */
    height:100vh;
    place-items: center ;
    /* margin:0; */
    margin-top: 15vh;
}
.button-grid{  
    display: grid;
    grid-template-columns:repeat(3,60px);
    grid-template-rows: repeat(3,60px);
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* border: 2px solid black; */
    
}
.box{
    width:60px;
    height:60px;
    border:2px solid black;
    border-radius:12px;
    background-color: coral;
    color:red;

    

}
.reset{
    margin-top: 50%;
    display: flex;
    justify-content: center;
    margin:10px
}
.msg-container{
    height:120px;
}
#message{
    font-size: 25px;
}
.hide{
    display:none;
}


